
.header{ /* used for my header img/text */
    padding : 60px; /* the space around the image */
    width: 91%;/* I put this specific size so that it doesn't stretch too much from the width of nav bar */
    height: 50px; /* the bg */
    background-image:url(../images/header2.jpg);/* I need the picture here because i need it as a bg  */ /* citation: https://www.dreamstime.com/illustration/header.html*/
    text-align: center; /* the text position */
    color:#000000; /* the text colour */
    background-size: cover; /* resized to cover the entire container, I just wanted the top also*/
    font-size: 30px; /* the text size */           
}
body{
    width: 100%; /* fills entire page */
    background-color: peachpuff; /* entire page bg */
}
.nav{ /* nav is the atrribute that provides navigation links */
    width: 100%; /* the bar acrosss the navigated menu */
    height:40px; /* the length of the bar acrosss the navigated menue */
    background-color: #9B7653; /* the menu bar color*/
    border-radius: 10px; /* i wanted the edges rounded */   
}   
ul{ /* style for the items in the menu/in the bar */
   list-style: none; /* removes the bullet points from the list, default ordered list has bullet points */
   padding: 0; /*Padding creates extra space within an element, i used this to align the sub list and main list align */
   
}
ul li { /* style for the main list*/
    float:left; /* style to make the list go across the page left to right  */
    max-height: 40px;   /* I do want the height to fluctuate*/    
}
ul li a{ /* style for the list text */
   width: 150px; /* wanted the list this to spread out like that*/
   display: block; /* gives it an individual block */
   text-decoration: none; /*takes underline out */
   font-size:20px ; /* the text size */
   text-align: center;/* the center of its own *block* */
   padding: 10px;  /* the space between the text */
   font-family: sans-serif;/* the text font */
   color: #191919;   /* the text colour */
}
ul li a:hover{ /* the style of the hover */
    background:#9B7653;/* I wanted the hover same colour as the nav */
    border-radius: 10px; /* I curved it just like the nav */
}
ul li ul li {/* to alter display of the sub-list*/
    float:none; /* aligns it to display below the main list */
    display: none; /* hides the drop down */
}
ul li:hover ul li{ /* when i hover it displays the sub-list */
    display: block;/* also gives it it's block when displayed */
}

.one{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px; /* setting the position i want it on this page*/
}

.two{
    color: black;   
    text-align: center;
    font-size: 20px;
    width: 100%;    
}
@media  (max-width:1000px){ /* the biggest with it would carry out the above else, follows diff effect*/ 
    
    .one{
         padding-top: 150px;  /*on smaller screens I want my box of text to come down a bit*/ 
    }
}
@media  (max-width:1400px){/* the biggest with it would carry out the above else, as normal as above*/ 
    .one{
         padding-top: 100px; /*on smaller screens I want my box of text to come down a bit*/ 
    }
}

.icons ul{
    display: flex; /* to make the card arrange horizontal */
    align-items: center;/* moves center */  
    justify-content: center; /* centralize along the line */  
}
 
.icons ul img {
    width: 30px; /* width of icon image */  
    height: 30px;  /* width of icon image */   
}
     
.icons:hover {
    opacity: 0.6; /* when I hover I want it to be a bit opaque */  
}




   
         
